<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">


        <!-- The styles -->
        <link id="bs-css" href="{{ asset('bundles/app/css/bootstrap-cerulean.css') }}" rel="stylesheet">
        <style type="text/css">
                body {
                    padding-bottom: 40px;
                }
                .sidebar-nav {
                    padding: 9px 0;
                }
            </style>
            <link href="{{ asset('bundles/app/css/bootstrap-responsive.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/css/charisma-app.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/css/jquery-ui-1.8.21.custom.css') }}" rel="stylesheet">
            <link href='{{ asset('bundles/app/css/fullcalendar.css') }}' rel='stylesheet'>
            <link href='{{ asset('bundles/app/css/fullcalendar.print.css') }}' rel='stylesheet'  media='print'>
            <link href='{{ asset('bundles/app/css/chosen.css') }}' rel='stylesheet'>
            <link href='{{ asset('bundles/app/css/uniform.default.css') }}' rel='stylesheet'>
            <link href='{{ asset('bundles/app/css/colorbox.css') }}' rel='stylesheet'>
            <link href='{{ asset('bundles/app/css/jquery.cleditor.css') }}' rel='stylesheet'>
            <link href='{{ asset('bundles/app/css/jquery.noty.css') }}' rel='stylesheet'>
            <link href='{{ asset('bundles/app/css/noty_theme_default.css') }}' rel='stylesheet'>
            <link href='{{ asset('bundles/app/css/elfinder.min.css') }}' rel='stylesheet'>
            <link href='{{ asset('bundles/app/css/elfinder.theme.css') }}' rel='stylesheet'>
            <link href='{{ asset('bundles/app/css/jquery.iphone.toggle.css') }}' rel='stylesheet'>
            <link href='{{ asset('bundles/app/css/opa-icons.css') }}' rel='stylesheet'>
            <link href='{{ asset('bundles/app/css/uploadify.css') }}' rel='stylesheet'>

            <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
              <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

            <!-- The fav icon -->
            <link rel="shortcut icon" href="{{ asset('bundles/app/img/favicon.ico') }}">

        </head>

        <body>
            <div class="container-fluid">
                <div class="row-fluid">

                    <div class="row-fluid">
                        <div class="span12 center login-header">
                            <h2>Welcome to *************</h2>
                        </div>
                    </div>
                   <!--/span<div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
            {% else %}
                                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
                            </div>--> 

        {% for key, message in app.session.getFlashes() %}
                            <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
                                </div>
        {% endfor %}


            {% block fos_user_content %}
            {% endblock fos_user_content %}
                    <input type="hidden" id="theme_path" name="theme_path"/>
                            </div><!--/fluid-row-->

                        </div><!--/.fluid-container-->

                        <!-- external javascript
                        ================================================== -->
                        <!-- Placed at the end of the document so the pages load faster -->

                        <!-- jQuery -->
                        <script src="{{ asset('bundles/app/js/jquery-1.7.2.min.js') }}"></script>
                        <!-- jQuery UI -->
                        <script src="{{ asset('bundles/app/js/jquery-ui-1.8.21.custom.min.js') }}"></script>
                        <!-- transition / effect library -->
                        <script src="{{ asset('bundles/app/js/bootstrap-transition.js') }}"></script>
                        <!-- alert enhancer library -->
                        <script src="{{ asset('bundles/app/js/bootstrap-alert.js') }}"></script>
                        <!-- modal / dialog library -->
                        <script src="{{ asset('bundles/app/js/bootstrap-modal.js') }}"></script>
                        <!-- custom dropdown library -->
                        <script src="{{ asset('bundles/app/js/bootstrap-dropdown.js') }}"></script>
                        <!-- scrolspy library -->
                        <script src="{{ asset('bundles/app/js/bootstrap-scrollspy.js') }}"></script>
                        <!-- library for creating tabs -->
                        <script src="{{ asset('bundles/app/js/bootstrap-tab.js') }}"></script>
                        <!-- library for advanced tooltip -->
                        <script src="{{ asset('bundles/app/js/bootstrap-tooltip.js') }}"></script>
                        <!-- popover effect library -->
                        <script src="{{ asset('bundles/app/js/bootstrap-popover.js') }}"></script>
                        <!-- button enhancer library -->
                        <script src="{{ asset('bundles/app/js/bootstrap-button.js') }}"></script>
                        <!-- accordion library (optional, not used in demo) -->
                        <script src="{{ asset('bundles/app/js/bootstrap-collapse.js') }}"></script>
                        <!-- carousel slideshow library (optional, not used in demo) -->
                        <script src="{{ asset('bundles/app/js/bootstrap-carousel.js') }}"></script>
                        <!-- autocomplete library -->
                        <script src="{{ asset('bundles/app/js/bootstrap-typeahead.js') }}"></script>
                        <!-- tour library -->
                        <script src="{{ asset('bundles/app/js/bootstrap-tour.js') }}"></script>
                        <!-- library for cookie management -->
                        <script src="{{ asset('bundles/app/js/jquery.cookie.js') }}"></script>
                        <!-- calander plugin -->
                        <script src='{{ asset('bundles/app/js/fullcalendar.min.js') }}'></script>
                        <!-- data table plugin -->
                        <script src='{{ asset('bundles/app/js/jquery.dataTables.min.js') }}'></script>

                        <!-- chart libraries start -->
                        <script src="{{ asset('bundles/app/js/excanvas.js') }}"></script>
                        <script src="{{ asset('bundles/app/js/jquery.flot.min.js') }}"></script>
                        <script src="{{ asset('bundles/app/js/jquery.flot.pie.min.js') }}"></script>
                        <script src="{{ asset('bundles/app/js/jquery.flot.stack.js') }}"></script>
                        <script src="{{ asset('bundles/app/js/jquery.flot.resize.min.js') }}"></script>
                        <!-- chart libraries end -->

                        <!-- select or dropdown enhancer -->
                        <script src="{{ asset('bundles/app/js/jquery.chosen.min.js') }}"></script>
                        <!-- checkbox, radio, and file input styler -->
                        <script src="{{ asset('bundles/app/js/jquery.uniform.min.js') }}"></script>
                        <!-- plugin for gallery image view -->
                        <script src="{{ asset('bundles/app/js/jquery.colorbox.min.js') }}"></script>
                        <!-- rich text editor library -->
                        <script src="{{ asset('bundles/app/js/jquery.cleditor.min.js') }}"></script>
                        <!-- notification plugin -->
                        <script src="{{ asset('bundles/app/js/jquery.noty.js') }}"></script>
                        <!-- file manager library -->
                        <script src="{{ asset('bundles/app/js/jquery.elfinder.min.js') }}"></script>
                        <!-- star rating plugin -->
                        <script src="{{ asset('bundles/app/js/jquery.raty.min.js') }}"></script>
                        <!-- for iOS style toggle switch -->
                        <script src="{{ asset('bundles/app/js/jquery.iphone.toggle.js') }}"></script>
                        <!-- autogrowing textarea plugin -->
                        <script src="{{ asset('bundles/app/js/jquery.autogrow-textarea.js') }}"></script>
                        <!-- multiple file upload plugin -->
                        <script src="{{ asset('bundles/app/js/jquery.uploadify-3.1.min.js') }}"></script>
                        <!-- history.js for cross-browser state change on ajax -->
                        <script src="{{ asset('bundles/app/js/jquery.history.js') }}"></script>
                        <!-- application script for Charisma demo -->
                        <script src="{{ asset('bundles/app/js/charisma.js') }}"></script>
<script type="text/javascript">

$('#fos_user_registration_form_countryid').change( function() {
    $.ajax({
        type: "GET",
        data: "data=" + $(this).val(),
        url:"{{ path('_selectStates') }}",
        success: function(msg){
            if (msg != ''){
               $('#fos_user_registration_form_stateid').html(msg).show();
               }
               else
               {
                   $('#fos_user_registration_form_stateid').html('<em>No item result</em>');
               }
           }
       });
  });
    </script>

                    </body>
                </html>
